@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
    url('../../fonts/nunito-200-normal.woff2') format('woff2'),
    url('../../fonts/nunito-200-normal.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
