@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Black'), local('Nunito-Black'),
    url('../../fonts/nunito-900-normal.woff2') format('woff2'),
    url('../../fonts/nunito-900-normal.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
